@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;500;600;700&display=swap');
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Sedgwick Ave', cursive;
font-family: 'Signika Negative', sans-serif;
*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100% ;
}

body{
	min-height: 100%;
	background: #000000;
	font-family: 'Signika Negative', sans-serif;
	color: #DFDEDE;
}

h1{
	font-family: 'Sedgwick Ave', cursive;
	color: #ffffff;
	font-size: 3rem;
}

a{
	text-decoration: none;
	color: #DFDEDE;
}

.grid-container > *{
	box-shadow: -1px 1px 7px 2px gray;
	border-radius: 4px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*BEGIN HEADER STYLES***********************/
.header{
	grid-area: header;
	display: flex;
	justify-content: space-evenly;
}

/*END HEADER STYLES***********************/


/*BEGIN SIDEBAR STYLES***********************/
.sidebar{
	grid-area: sidebar;
	background: hotpink;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	background-image: url(../images/Note_key_white.png);
	background-size: cover;
	z-index: 2;
}

nav{
	position: sticky;
	top: 0;
}

nav a{
	display: block;
	font-family: 'Sedgwick Ave', cursive;
	color: #DFDEDE;
	font-weight: bolder;
	font-size: 1.1rem;
}

#navpiano, #navbateria, #navmarimbas{
	width: 100%;
	height: 10rem;
	margin: 10% auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0 50%;
	opacity: 0.9;
	border-style: groove;
}

#navpiano{
		background: #3B0717;
	}

#navbateria{
	background: #06196B;
}

#navmarimbas{
	background: #000000;
}

#others {
	background: #2C032B;
	padding: 20px;
	border-radius: 0 50%;
	color: #DFDEDE;
	opacity: 0.9;
}

/*END SIDEBAR STYLES***********************/


/*BEGIN MAIN STYLES***********************/
.main{
	grid-area: main;
	background: #ffffff;
	display: flex;
	display: inline-block;
}

button{
	position: absolute;
	display: flex;
	top: 10%;
	left: 10%;
	padding: 20px;
	border-radius: 25%;
	background: #000000;
	border: none;
}


#piano, #marimbas,#bateria{
	position: relative;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	z-index: 1;
}

#piano, #bateria{
	border-bottom: 2px solid #2C032B;
}

/*BEGIN FOOTER STYLES***********************/	

.footer{
	grid-area: footer;
}
/*END FOOTER STYLES***********************/	

.grid-container{
	display: grid;
	gap: 7px;
	grid-template:
	"header header" 0.8fr
	"sidebar  main" 12.5fr
	"sidebar footer" 0.5fr/
	1fr    4fr;
}


/*END MAIN STYLES***********************/

	/*RESPONSIVE TABLET********************/

@media (max-width: 768px){
	.grid-container{
	grid-template:
	"header header" 1fr
	"sidebar main" 12.5fr
	"sidebar footer" 0.5fr /
	1fr    3fr;
}

#navpiano, #navbateria, #navmarimbas{
	width: 80%;
	height: 6rem;
	margin: 10% auto;
}

#others{
	width: 80%;
	margin: auto;
	border-style: groove;
}
}


/*RESPONSIVE CELULAR***********************/

@media (max-width: 640px){
.grid-container{
	grid-template:
	"header"   0.5fr
	"sidebar"   0.5fr
	"main"	   7.3fr
	"footer"  0.5fr;
}

/*BEGIN HEADER CELULAR**************/

.header {	
	display: block;
	padding: 5% 0;
}

.header a{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}
/*END HEADER CELULAR**************/

/*BEGIN SIDEBAR CELULAR**************/
.sidebar{
	height: 30vh;
	padding: 0 10px;
}

.sidebar nav{
	padding: 0 0 20px 0;
}

#instrumentos{
	width: 30rem;
	height: 8rem;
	display: flex;
}

#navpiano, #navbateria, #navmarimbas{
	height: 5rem;
	margin: 2% auto;
	display: flex;
}

#others {
	margin-top: -5%;
	padding: 2%;
}
/*END SIDEBAR CELULAR**************/


.main{
	padding: 3% 5%;
	}

#piano, #marimbas,#bateria{
	height: 120vh;
}
}